:root {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at top left, #240046, #10002b 80%);
}

body {
  margin: 0;
  min-height: 100vh;
  color: #f1f5f9;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #10002b;
  color: #e0aaff;
  overflow-y: auto; /* scroll vertical solo si es necesario */
  overflow-x: hidden; /* evita scroll horizontal */
}
