:root {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at top left, #240046, #10002b 80%);
}

body {
  margin: 0;
  min-height: 100vh;
  color: #f1f5f9;
}
